name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      
      - name: Building
        run: (./scripts/buildprod.sh)

      - name: Install gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Fake Deploy
        run: gcloud builds submit || true
